extends base.pug

block content 
<<<<<<< HEAD
    h4 Change Title of Video 
    form(method="POST")
        input(name="title" placeholder="Video Title",value=video.title) 
        input(value="Save",type="submit")
=======
    h1 Edit! 
>>>>>>> parent of 1e367a5 (edit video 1)
